.testb-main-container{
    height: 100%;
    border: 5px solid teal;
    border-radius: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1%;
    padding: 1.5%;
}

.testb-question-container{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 4%;
}

.testb-questionTop-container{
    height: 25%;
    width:  100%;
    background-color: teal;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testb-questionBottom-container{
    height: 72%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.testb-input-container{
    border: 4px dotted teal;
    height: 100%;
    width: 35%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2%;
}

@keyframes colorChange {
    0% {
      background-color: teal;
    }
    50% {
      background-color: darkcyan; /* Change this to the darker shade you want */
    }
    100% {
      background-color: teal;
    }
} 
.testb-option-container{
    height: 30%;
    width: 80%;
    background-color: teal;
    animation: colorChange 0.8s infinite;
    border-radius: 30px;
    box-shadow: 0px 0px 3px 4px rgb(255, 255, 255), 0px 0px 6px 5px rgba(61, 61, 61, 0.766);
    display: flex;
    justify-content: center;
    align-items: center;
}

.testb-play-container{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testb-play-button{
    height: 200px;
    width: 200px;
    background-color: teal;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px 4px rgb(255, 255, 255), 0px 0px 6px 5px rgba(61, 61, 61, 0.766);
}

.testb-picture-container{
    height: 100%;
    width: 40%;
    flex: 1;
    border: 4px dotted teal;
    border-radius: 30px;
}

.testb-data-container{
    height: 100%;
    flex: 1;
    border: 4px dashed teal;
    border-radius: 30px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.testb-databox{
    height: 15%;
    width: 100%;
    padding: 2%;
    border: 3px dotted teal;
    border-radius: 30px;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1%;
}


.testb-exitbtn{
    background-color: teal;
    box-shadow: 0px 0px 3px 4px rgb(255, 255, 255), 0px 0px 6px 5px rgba(61, 61, 61, 0.766);
    width: 100%;
    height: 40%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit-buttons{
    height: 30%;
    display: flex;
    gap: 20%;
    padding: 4%;
}

.testb-help-button{
    position: absolute;
    top: 5px;
    right: 5px;
}