.srt-main-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:2%;
}

.srt-header-container{
    height: 12%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}