.profile-outer-container{
    width: 100vw;
    height: 100vh;
}

.profile-navbar-container{
    height: 11%;
    width: 100%;
}

.profile-main-container{
    width: 100%;
    height: 89%;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.profile-left-container{
    width: 35%;
    box-shadow: 0px 0px 3px 4px rgb(255, 255, 255), 0px 0px 6px 5px rgba(61, 61, 61, 0.623);
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 40px;
}

.profile-details-container{
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid teal;
    padding: 3%;
    border-radius: 30px;
}

.profile-right-container{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
}

.profile-top-container{
    width: 100%;
    height: 45%;
    box-shadow: 0px 0px 3px 4px rgb(255, 255, 255), 0px 0px 6px 5px rgba(61, 61, 61, 0.623);
    border-radius: 40px;
}

.profile-bottom-container{
    width: 100%;
    height:50%;
    padding: 3%;
    box-shadow: 0px 0px 3px 4px rgb(255, 255, 255), 0px 0px 6px 5px rgba(61, 61, 61, 0.623);
    border-radius: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #f1ffed;
}

.profile-heatmap-heading{
    height: 15%;
    width: 100%;
}

.profile-heatmap-container{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.react-calendar-heatmap .color-scale-0 { fill: #abdefe; }
.react-calendar-heatmap .color-scale-1 { fill: #d6e685; }
.react-calendar-heatmap .color-scale-2 { fill: #c0e184; }
.react-calendar-heatmap .color-scale-3 { fill: #a9dd83; }
.react-calendar-heatmap .color-scale-4 { fill: #92da82; }
.react-calendar-heatmap .color-scale-5 { fill: #7bd781; }
.react-calendar-heatmap .color-scale-6 { fill: #63d480; }
.react-calendar-heatmap .color-scale-7 { fill: #4cd17f; }
.react-calendar-heatmap .color-scale-8 { fill: #35cd7e; }
.react-calendar-heatmap .color-scale-9 { fill: #1ec97d; }
.react-calendar-heatmap .color-scale-10 { fill: #16a876; }
.react-calendar-heatmap .color-scale-11 { fill: #128b6f; }
.react-calendar-heatmap .color-scale-12 { fill: #0f6e68; }
.react-calendar-heatmap .color-scale-13 { fill: #0c515f; }
.react-calendar-heatmap .color-scale-14 { fill: #093556; }
.react-calendar-heatmap .color-scale-15 { fill: #06274c; }




